@font-face{
	src : url("../fonts/Retroica.ttf");
	font-family: "Retroica";

	src : url("../fonts/NEXON Lv2 Gothic Medium.ttf");
	font-family: "NEXONONE";

	src : url("../fonts/NEXON Lv2 Gothic Bold.ttf");
	font-family: "NEXONTWO";
}

.slider_3st .slider_txt3 .font1{font-family: "Retroica";}
body{font-family: "NEXONONE";}
.slider h3{font-family: "NEXONTWO";}