@charset "utf-8";

html,body{height: 100%;} /*mobile에서 필수*/
header#main_header{height: 1950px;position: relative;margin-bottom:100px;}


/*header top*/
#header_top{
	width: 100%; height: 80px;
	position: fixed; color: white;
	top: 0;z-index: 999999; background: #fff;
}

#header_top>h1{float: left; height: 50px; margin-top: 10px;line-height:50px;}
#main_menu{
	background: #000; position: fixed; top: 0; left: -100%;
	width: 100%; height: 100%;

}
#main_menu ul{
	background: #000; position: absolute;top: 50%;
	transform: translateY(-50%);width: 100%;
}
#main_menu li{float: none; height: 50px;}
#main_menu li a{display: block; line-height: 50px;color: white; text-align: center; }
.toggleMenu{
	display: block; width: 80px;height: 80px;
	position: absolute;
	top: 5px;right: 0; cursor: pointer;
}
.toggleMenu div{
	width: 35px; height: 5px; background-color: black;
	border-radius: 20px; position: absolute;
}
.toggleMenu .bar1{top:24px;}
.toggleMenu .bar2{top:34px;}
.toggleMenu .bar3{top:44px;}

.toggleMenu.change .bar1{transform:rotate(-45deg);top:18px;background:white;}
.toggleMenu.change .bar2{opacity:0;}
.toggleMenu.change .bar3{transform:rotate(45deg);top:18px;background:white}


/*slider*/
.sliderWrap{height: 690px;position: relative;}
.sliderWrap li img{width: 100%;}

.sliderWrap .slider_1st .slider_txt1{
	position: absolute; color: white; _width: 500px;
	top: 50%; left: 8%; z-index: 1;
}
.sliderWrap .slider_2st .slider_txt2{
	position: absolute; color: black;
	top: 50%; left: 8%; z-index: 2;
}
.sliderWrap .slider_4st .slider_txt4{
	position: absolute; color: black;
	top: 50%; left: 8%; z-index: 3;
}
.slider_txt3 h3{
	position: absolute;
	top: 20%; left: 8%;
}
.slider_txt3 p{
	top: 70%; left: 8%;
	font-weight:bold; position: absolute;}
.slider h3{font-weight: bold;letter-spacing: -2px}

.slider_txt1 .txt1Btn1{color: white;}
.slider_txt1 .txt1Btn2{color: #25262a;border: 1px solid #fff; background: #fff;}

.slider_txt4 .txt1Btn1{color: black;}
.slider_txt4 .txt1Btn2{color: white;border: 1px solid #000; background: #000;}



.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.sliderWrap .bx-wrapper .bx-pager{
	bottom: 10px;
}



/*content*/
.content{width: 100%;}
.content>ul>li{
	float: left;width: 25%;position: relative;
	overflow: hidden;transition:0.3s;
	height: 170px;
}
.content>ul>li a{color:white;}
/*.content>ul>li:nth-child(2n){background: red;}*/

/*content layout*/
.half{width: 50% !important;}
.content>ul>li.ct1st{background: #0394f5; width: 50%;}
.content>ul>li.ct2st{width: 50%;}
.content>ul>li.ct3st{display: none;}
.content>ul>li.ct6st{display: none;width: 50%;}
.content>ul>li.ct7st{display: none;height: 630px;}
.content>ul>li.ct8st{display: none;width: 50%;}
.content>ul>li.ct11st{display: none;width: 50%;}


.content>ul>li.ct4st{background: #d7d6dc;width: 50%;}
.content>ul>li.ct5st{background: #413d3e;width: 50%;}
.content>ul>li.ct9st{display: none;background: #ff6734;}
.content>ul>li.ct10st{display: none;background: #6abdf9;}

/*content icon cell*/
.content li.ct1st p{color: white;}


.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a
{text-align: center; display: block; height: 100%; padding-top:85px ;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block; width: 100px; margin: 0 auto; margin-bottom: 5px;}

/*ct6st, ct7st, ct8st, ct11st txt*/
.content div.txt{position: absolute; top: 40px; left: 20px; }
.content div.txt h3:after{
	content: ""; display: block;
	width: 50px; height: 2px;
	background-color: #fff; margin: 20px 0;
}
.content div.txt p{font-size:2em;}

/*modal layer*/
.content .ct2st .bgImg{transition: 0.3s;} /*li X img O : 이미지 값 변동*/
.content .ct2st:hover .bgImg{transform: scale(1.2);}
.content .ct2st .play{
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%);
}

/*news bxslider*/
.content .ct3st{}
.content .ct3st h2{position: absolute; top: 40px;left: 40px;} /*txt와 동일*/
.content .sliderWrap{width: 630px; height: 315px;}
.content .sliderWrap li.news{width: 630px; height: 315px;}
.content .sliderWrap .left{float: left; width: 315px;height: 315px; padding: 80px 40px; position: relative;}
.content .sliderWrap .left:after{
	content: "";display: block;
	border-width:30px;
	border-style: solid;
	border-color:white transparent transparent transparent; /*아래방향삼각형만들기*/
	border-color:transparent transparent transparent white; /*오른쪽방향삼각형만들기*/
	position: absolute;
	top: 50%; transform: translateY(-50%);
	right: -59px;
}
.content .sliderWrap .right{float: right; width: 315px;height: 315px;}

.content .ct3st .btn{position: absolute; bottom: 20px; left: 213px; width: 76px;}
.content .ct3st .btn img{width: 38px; height: 38px;float: left; cursor:pointer;	} /*화살표붙임*/


.sliderWrap .slider .nBtn{position: absolute;right: 0;top: 50%; }
.sliderWrap .slider .pBtn{position: absolute;left: 0;top: 50%;}

.bx-wrapper .bx-pager.bx-default-pager a{display: none;}

/*container*/
.container{
	display: none;
}
