@charset "utf-8";

header#main_header{height: 1950px;position: relative; _background: pink; margin-bottom:100px;}


/*header top*/
#header_top{
	width: 100%; position: fixed; background: #fff;
	left: 50%; transform: translateX(-50%); z-index: 99999;
}

#header_top>h1{float: left; height: 80px;}
#header_top>h1>a{float: left; padding: 15px 120px; }
#header_top>h1>a>img{width: 140px;}

#main_menu{float: right; padding-right: 110px;}
#main_menu li{float: left; height: 80px; }
#main_menu li a{
	display: block; line-height: 80px;
	padding:0 30px; font-weight:bold; font-size:14px;
}
.toggleMenu{display: none;}


/*slider*/
.sliderWrap{height: 690px; position: relative;}
/*.sliderWrap li img{width: 100%;}*/

.sliderWrap .slider_1st .slider_txt1{
	position: absolute; color: white;
	top: 30%; left: 140px; z-index: 5;
}
.sliderWrap .slider_4st .slider_txt4{
	position: absolute; color: black;
	top: 30%; left: 140px;
}
.slider h3{font-weight: bold;letter-spacing: -2px}
.slider_txt1 h3{font-size:48px; padding: 16px 0;}
/*.sliderWrap .slider_txt h3:after{
	content:""; display: block; width: 300px;height: 2px;
	background: #fff; margin: 0 auto;
}*/
.slider_txt4 h3{font-size:48px; padding: 16px 0;}

.slider_txt1 .txt1Btn1{color: white;}
.slider_txt1 .txt1Btn2{color: #25262a;border: 1px solid #fff; background: #fff; }

.slider_txt4 .txt1Btn1{color: black;}
.slider_txt4 .txt1Btn2{color: white;border: 1px solid #000; background: #000;}

.slider_txt1 .txt1Btn1,.slider_txt4 .txt1Btn1{
	width:150px; line-height:100px;
	font-weight:bold; font-size: 14px;
	text-decoration:underline;
	padding-right: 15px;
}
.slider_txt1 .txt1Btn2,.slider_txt4 .txt1Btn2{
	width:150px;line-height:100px;
	text-align: center; padding: 10px 20px;
	border-radius:20px;
	font-size: 12px;font-weight:bold;
}
.slider_txt1 .txt1Btn2:hover{background-color:#000; border: 1px solid #000; color: #fff;}
.slider_txt2 .txt1Btn3,
.slider_txt4 .txt1Btn2:hover{background-color:#fff; border: 3px solid #000; color: #000;}


.sliderWrap .slider_2st .slider_txt2{
	position: absolute; color: black;
	top: 25%; left: 120px;
}
.slider_txt2 h3{font-size:48px; padding: 16px 0; }
.slider_txt2 p{letter-spacing: -1px }
.slider_txt2 .txt1Btn3{
	width:150px;line-height:100px; top: 15px;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 12px;font-weight:bold;
}

/*.sliderWrap .slider_3st .slider_txt3{
	position: absolute; color: black;
}*/
.slider_txt3 h3{
	position: absolute;font-size:82px;
	top: 140px; left: 120px;}
.slider_txt3 p{
	font-size:58px; right: 170px; top: 310px;
	font-weight:bold; position: absolute;}
.slider_txt3 .txt1Btn4{
	right: 645px; top: 415px;
	position: absolute;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 12px;font-weight:bold;
}


.sliderWrap li{height: 1005px;_background: skyblue;}
.sliderWrap .slider_1st{
	background-image: url(../images/mainimg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_2st{
	background-image: url(../images/mainimg02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_3st{
	background-image: url(../images/mainimg03.JPG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_4st,
.sliderWrap .slider_4st video{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sliderWrap .slider_4st video{
	position: absolute;
	left: 50%; transform: translateX(-50%);
}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom: 100px;
}


/*content*/
.content{width: 1260px;position: absolute; left: 50%; transform: translateX(-50%);}
.content>ul>li{
	float: left; width: 25%;height: 315px;
	position: relative; overflow: hidden;
}
.content>ul>li a{color:white;}
/*.content>ul>li:nth-child(2n){background: red;}*/

/*content layout*/
.half{width: 50% !important;}
.content>ul>li.ct1st{background: #161515;}
.content>ul>li.ct2st{}
.content>ul>li.ct3st{width: 50%;}
.content>ul>li.ct6st{width: 50%;}
.content>ul>li.ct7st{height: 630px;}
.content>ul>li.ct8st{width: 50%;}
.content>ul>li.ct11st{width: 50%;}


.content>ul>li.ct4st{background: #d7d6dc;}
.content>ul>li.ct5st{background: #413d3e;}
.content>ul>li.ct9st{background: #ff6734;}
.content>ul>li.ct10st{background: #0394f5;}

/*content icon cell*/
.content li.ct1st p{color: white;}


.content li.ct1st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a
{text-align: center; display: block; height: 100%; padding-top:100px;font-weight:bold; line-height:40px;}


.content li.ct1st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block; width: 100px; margin: 0 auto; margin-bottom: 5px;}

/*ct6st, ct7st, ct8st, ct11st txt*/
.content div.txt6{position: absolute; top: 50%; transform: translateY(-50%); left: 20px;}
.content div.txt6 h3:after{
	content: ""; display: block;
	width: 50px; height: 2px;
	background-color: #fff; margin: 10px 0;
}
.content div.txt6 p{font-size:1em;}

.content div.txt8{position: absolute; top: 50%;transform: translateY(-50%); left: 465px; color: white; text-align: right;}
.content div.txt8 h3:after{
	content: ""; display: block;
	width: 50px; height: 2px;
	background-color: #fff; margin: 10px 0 10px 95px;
}
.content div.txt8 p{font-size:1em;}

.content div.txt11{
	position: absolute; left: 50%;top: 110px;
	transform: translateX(-50%); color: white;
	text-align: center;
}
.content div.txt11 h3:after{
	content: ""; display: block;
	width: 65px; height: 2px; left: 50px;
	background-color: #fff; margin: 8px 0 8px 105px;
}
.content div.txt11 p{font-size:1em;}


.ct7st{position: relative;}
.content div.txt7{position: absolute; left: 20px;top: 50px; color: white;}
.content div.txt7 h3:after{
	content: ""; display: block;
	width: 90px; height: 2px; left: 20px;
	background-color: #fff; margin: 8px 0;
}

.ct7st .div_1{position: relative; overflow: hidden;}
.ct7st .overlay{
			position: absolute; top: 0;
			width: 100%; height:100%;
			background: rgba(0,0,0,0.7);
			/* display: none; */
			opacity: 0; transition:0.3s;
			cursor: pointer;
}
.ct7st .div_1:hover .overlay{opacity: 1;left: 0; top:0; }
.content .txt7 p{font-size:1em;}
.content .txt7_2{
	width: 200px; height: 50px; text-align:center;
	border: 1px solid #fff;position: absolute;
	top:50%; left: 60px;line-height:50px;
	margin-top: -50px;display: none;color:#fff;
	/*opacity: 0; transition:0.3s; */
}

.content .div_1:hover .txt7_2{display: block; /*opacity: 1;*/}

.content .ct1st img,
.content .ct5st img,
.content .ct9st img,
.content .ct10st img{transition: 0.3s;}

.content .ct1st:hover img,
.content .ct5st:hover img,
.content .ct9st:hover img,
.content .ct10st:hover img{transform: rotate(-45deg);}



/*modal layer*/
.content .ct2st .bgImg,.content .ct6st .bgImg,.content .ct8st .bgImg,.content .ct11st .bgImg{transition: 0.3s;} /*li X img O : 이미지 값 변동*/
.content .ct2st:hover .bgImg,
.content .ct8st:hover .bgImg,
.content .ct11st:hover .bgImg,
.content .ct6st:hover .bgImg{transform: scale(1.2);}
.content .ct2st .play,
.content .ct8st .play,
.content .ct6st .play{
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%); width: 80px;
}

/*news bxslider*/
.content .ct3st{}
.content .ct3st h3{position: absolute; top: 40px;left: 105px;} /*txt와 동일*/
.content .ct3st h3:after{
	content: ""; display: block;
	width: 110px; height: 2px;
	background-color: #000; margin: 15px 0;
}
.content .ct3st .left p{padding-top: 10px;}
.content .ct3st .left .leftBtn1{
	top: 201px;left: 40px;
	position: absolute; text-align: center;
	padding: 5px 35px;
	border: 1px solid #000; background: #fff;
	border-radius:40px; color: #000;
	font-size: 10px;font-weight:bold;
}
.content .ct3st .left .leftBtn2{
	top: 200px;left: 160px;
	position: absolute;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 14px;font-weight:bold;
}

.content .ct4st h2,.content .ct4st p,.content .ct4st div{position: absolute; text-align:center;width: 300px;}
.content .ct4st h2{top: 110px;left: 50%;transform:translateX(-50%);font-weight:bold;}
.content .ct4st p{top: 85px;left: 50%;transform:translateX(-50%);font-weight:bold;font-size:12px;}
.content .ct4st div{left: 50%;top: 50%; transform:translate(-50%,-50%);letter-spacing:-1px;font-size:11.5px;}
.content .ct4st .ct4stBtn{
	left: 50%;transform:translateX(-50%); top: 200px;
	position: absolute; text-align: center;
	padding: 10px 20px;
	border: 1px solid #000; background: #fff;
	border-radius:40px; color: #000;
	font-size: 12px;font-weight:bold;
}


.content .ct8st{position: relative;}
.content .ct8st img{position: absolute; top: -80px; cursor: pointer;}



.content .sliderWrap{width: 630px; height: 315px;}
.content .sliderWrap li.news{width: 630px; height: 315px;}
.content .sliderWrap .left{
	float: left; width: 315px;height: 315px; text-align: center;
	padding: 100px 40px; position: relative; letter-spacing: -1px;
}
.content .sliderWrap .left:after{
	content: "";display: block;
	border-width:30px;
	border-style: solid;
	border-color:white transparent transparent transparent; /*아래방향삼각형만들기*/
	border-color:transparent transparent transparent white; /*오른쪽방향삼각형만들기*/
	position: absolute;
	top: 50%; transform: translateY(-50%);
	right: -59px;
}
.content .sliderWrap .right{float: right; width: 315px;height: 315px;}

.content .ct3st .btn{position: absolute; bottom: 20px; left: 213px; width: 76px;}
.content .ct3st .btn img{width: 38px; height: 38px;float: left; cursor:pointer;	} /*화살표붙임*/


.nBtn{position: absolute; top: 345px; right: 10px; cursor: pointer;}
.pBtn{position: absolute; top: 345px; left: 10px; cursor: pointer;}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 85px;
    height: 3px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 20px;
}


/*container*/
.container{
	height: 750px; color: white;
	background:url(../images/contentsbg01.jpg) no-repeat center fixed;
	background-size:cover; padding-top: 70px;
}
.container .section{width: 1260px; margin: 0 auto;}
.container h4{text-align: center;}
.container h4:after{
	content:""; display: block;
	background-color: #fff;
	width: 50px; height: 3px;
	margin: 20px auto;
}
.container .section>p{text-align: center; font-size: 2em; margin-bottom: 40px;}
.container .section ul li{
	float: left; margin-right: 20px; width: 300px; height: 380px; padding-top: 70px; transition: 0.3s;
}
.container .section ul li:last-child{margin-right: 0;}

.container .section ul li:hover{box-shadow: 8px 8px 10px rgba(0,0,0,0.5);transform: translate(-10px,-10px);}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .card_body{text-align: center; padding: 20px 40px;}
.container .section li .card_body h3{margin-bottom: 10px;} /*Engineering*/


/* footer */
.footer{width: 1260px;height: 160px; margin: 0 auto; _background: #000;}
.footerTxt li{float: left; position: relative; font-size:12px; letter-spacing:-1px;color:#777777;}
.footerTxt li:after{
		content: ""; display: block;
		width: 1px; height: 12px;
		background-color: #d4d4d4;
		position: absolute;
		right: 0; top: 8px;
}
.footerTxt li:last-child:after{content: ""; display: none;}
.footerTxt li{padding: 0 10px 0 10px; line-height: 25px;}
.footerTxt li:nth-child(1){padding: 0 10px 0 0}
.footerTxt span{
	width: 50px; border: 1px solid #a6a6a6; color:white;
	background: #a6a6a6; border-radius:30px ;
	padding: 5px 10px 5px 10px ; margin-left: 10px;
}
.footer p{
	font-size:12px; letter-spacing:-1px;
	color:#777777; padding: 0 10px 0 0; line-height: 25px;
}
.footer .copy{font-size:11px; font-weight:bold; letter-spacing:0px;color:#777777;}

.line:after{
	content: ""; display: block;
	border-top: 1px solid #dbdbdb; margin: 100px 0 15px 0;
	width: 100%;height: 1px;
}
.line_2:before{
	content: ""; display: block;
	border-top: 1px solid #dbdbdb; margin: 30px 0;
	width: 100%;height: 1px;
}

.footer_2{position: relative;}
.footer2Txt li{
	float: left; position: relative;
	font-size:13px; letter-spacing:-2px;
	color:#777777; font-weight:bold;
}
.footer2Txt li:after{
		content: ""; display: block;
		width: 1px; height: 12px;
		background-color: #d4d4d4;
		position: absolute;
		top: 10px; right: 0;
}

.footer2Txt li:last-child:after,
.footer2Txt li:nth-child(4):after,
.footer2Txt li:nth-child(5):after{content: ""; display: none;}
.footer2Txt li{padding: 0 10px; line-height: 25px;}
.footer2Txt li:nth-child(1){padding: 0 10px 0 0}

.sns {position: absolute;right: 0;top:0;
}
ul.sns li{float:left}
.sns img{width: 35px; margin: 0 8px 10px 8px;}
.sns img:nth-child(1){margin-left: 0;}
