@charset "utf-8";

header#main_header{height: 1950px;position: relative; _background: pink; margin-bottom:100px;}


/*header top*/
#header_top{
	width: 100%; position: fixed; background: #fff;
	left: 50%; transform: translateX(-50%); z-index: 99999;
}

#header_top>h1{float: left; height: 80px;}
#header_top>h1>a{float: left; padding: 15px 120px; }
#header_top>h1>a>img{width: 140px;}

#main_menu{float: right; padding-right: 110px;}
#main_menu li{float: left; height: 80px; }
#main_menu li a{
	display: block; line-height: 80px; 
	padding:0 30px; font-weight:bold; font-size:14px; 
}
.toggleMenu{display: none;}


/*slider*/
.sliderWrap{height: 690px; _position: relative;}
/*.sliderWrap li img{width: 100%;}*/
.sliderWrap .slider_txt{
	position: absolute;width: 500px;
	left: 50%; margin-left: -250px; top: 30%;
	text-align: center; color: white; _background: blue;
}
.sliderWrap .slider_1st .slider_txt1{
	position: absolute; color: white;
	top: 30%; left: 140px;
}
.slider_txt1 h3{font-size:48px; padding: 16px 0;}
/*.sliderWrap .slider_txt h3:after{
	content:""; display: block; width: 300px;height: 2px;
	background: #fff; margin: 0 auto;
}*/

.slider_txt1 .txt1Btn1{
	width:150px; line-height:100px; color: white;
	font-weight:bold; font-size: 14px;
	text-decoration:underline;
	padding-right: 15px;
}
.slider_txt1 .txt1Btn2{
	width:150px;line-height:100px;
	text-align: center; padding: 10px 20px;
	border: 1px solid #fff; background: #fff;
	border-radius:20px; color: #25262a;
	font-size: 12px;font-weight:bold;
}
.slider_txt1 .txt1Btn2:hover{background-color:#000; border: 1px solid #000; color: #fff;}
.slider_txt2 .txt1Btn3:hover{background-color:#fff; border: 3px solid #000; color: #000;}


.sliderWrap .slider_2st .slider_txt2{
	position: absolute; color: black;
	top: 25%; left: 120px; 
}
.slider_txt2 h3{font-size:48px; padding: 16px 0; letter-spacing: -5px;}
.slider_txt2 .txt1Btn3{
	width:150px;line-height:100px; top: 15px;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 12px;font-weight:bold;
}

/*.sliderWrap .slider_3st .slider_txt3{
	position: absolute; color: black;
}*/
.slider_txt3 h3{
	position: absolute;font-size:82px; 
	top: 140px; font-weight:bold; left: 120px;}
.slider_txt3 p{
	font-size:58px; right: 170px; top: 310px;
	font-weight:bold; position: absolute;}
.slider_txt3 .txt1Btn4{
	right: 645px; top: 415px;
	position: absolute;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 12px;font-weight:bold;
}


.sliderWrap li{height: 1005px;_background: skyblue;}
.sliderWrap .slider_1st{
	background-image: url(../images/mainimg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_2st{
	background-image: url(../images/mainimg02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_3st{
	background-image: url(../images/mainimg03.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom: 100px;
}


/*content*/
.content{width: 1260px;position: absolute; left: 50%; transform: translateX(-50%);}
.content>ul>li{
	float: left; width: 25%;height: 315px;  
	position: relative; overflow: hidden;
}
.content>ul>li a{color:white;}
/*.content>ul>li:nth-child(2n){background: red;}*/

/*content layout*/
.half{width: 50% !important;}
.content>ul>li.ct1st{background: #0394f5;}
.content>ul>li.ct2st{}
.content>ul>li.ct3st{width: 50%;}
.content>ul>li.ct6st{width: 50%;}
.content>ul>li.ct7st{height: 630px;}
.content>ul>li.ct8st{width: 50%;}
.content>ul>li.ct11st{width: 50%;}


.content>ul>li.ct4st{background: #d7d6dc;}
.content>ul>li.ct5st{background: #413d3e;}
.content>ul>li.ct9st{background: #ff6734;}
.content>ul>li.ct10st{background: #6abdf9;}

/*content icon cell*/
.content li.ct1st p{color: white;}


.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a
{text-align: center; display: block; height: 100%; padding-top:85px ;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block; width: 100px; margin: 0 auto; margin-bottom: 5px;}

/*ct6st, ct7st, ct8st, ct11st txt*/
.content div.txt{position: absolute; top: 40px; left: 20px; }
.content div.txt h3:after{
	content: ""; display: block; 
	width: 50px; height: 2px; 
	background-color: #fff; margin: 20px 0;
}
.content div.txt p{font-size:2em;}

/*modal layer*/
.content .ct2st .bgImg{transition: 0.3s;} /*li X img O : 이미지 값 변동*/
.content .ct2st:hover .bgImg{transform: scale(1.2);}
.content .ct2st .play{
	position: absolute; left: 50%; top: 50%; 
	transform: translate(-50%,-50%);
}

/*news bxslider*/
.content .ct3st{}
.content .ct3st h2{position: absolute; top: 40px;left: 40px;} /*txt와 동일*/
.content .sliderWrap{width: 630px; height: 315px;}
.content .sliderWrap li.news{width: 630px; height: 315px;}
.content .sliderWrap .left{float: left; width: 315px;height: 315px; padding: 80px 40px; position: relative;}
.content .sliderWrap .left:after{
	content: "";display: block;
	border-width:30px;
	border-style: solid;
	border-color:white transparent transparent transparent; /*아래방향삼각형만들기*/
	border-color:transparent transparent transparent white; /*오른쪽방향삼각형만들기*/
	position: absolute;
	top: 50%; transform: translateY(-50%);
	right: -59px;
}
.content .sliderWrap .right{float: right; width: 315px;height: 315px;}

.content .ct3st .btn{position: absolute; bottom: 20px; left: 213px; width: 76px;}
.content .ct3st .btn img{width: 38px; height: 38px;float: left; cursor:pointer;	} /*화살표붙임*/


.sliderWrap .slider .nBtn{position: absolute;right: 0;top: 50%; } 
.sliderWrap .slider .pBtn{position: absolute;left: 0;top: 50%;} 


.bx-wrapper .bx-pager.bx-default-pager a{
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 85px;
    height: 3px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 20px;
}


/*container*/
.container{
	height: 750px; color: white;
	background:url(../images/contentsbg01.jpg) no-repeat center fixed;
	background-size:cover; padding-top: 70px;
}
.container .section{width: 1260px; margin: 0 auto;}
.container h4{text-align: center;}
.container h4:after{
	content:""; display: block; 
	background-color: #fff; 
	width: 50px; height: 3px;
	margin: 20px auto;
}
.container .section>p{text-align: center; font-size: 2em; margin-bottom: 40px;}
.container .section ul li{
	float: left; margin-right: 20px; width: 300px; height: 380px; padding-top: 70px; transition: 0.3s;
}
.container .section ul li:last-child{margin-right: 0;}

.container .section ul li:hover{box-shadow: 8px 8px 10px rgba(0,0,0,0.5);transform: translate(-10px,-10px);}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .card_body{text-align: center; padding: 20px 40px;}
.container .section li .card_body h3{margin-bottom: 10px;} /*Engineering*/


