@charset "utf-8";

header#main_header{}


/*header top*/
#header_top{
	width: 1260px; position: fixed; color: white;
	left: 50%; transform: translateX(-50%); top: 40px;
	z-index: 99999;
}

#header_top>h1{float: left; height: 50px;}
#header_top h1 a{color: white;}
#main_menu{float: right;}
#main_menu li{float: left; height: 50px;}
#main_menu li a{display: block; line-height: 50px; padding:0 30px; color: white; }
.toggleMenu{display: none;}


/*slider*/
.sliderWrap{height: 1005px;}
/*.sliderWrap li img{width: 100%;}*/
.sliderWrap .slider_txt{
	position: absolute;width: 500px;
	left: 50%; margin-left: -250px; top: 30%;
	text-align: center; color: white; _background: blue;
}
.sliderWrap .slider_1st .slider_txt1{
	position: absolute; color: white;
	top: 25%; left: 120px;letter-spacing: -2px;
}
.slider_txt1 h3{font-size:48px; padding: 16px 0;}
/*.sliderWrap .slider_txt h3:after{
	content:""; display: block; width: 300px;height: 2px;
	background: #fff; margin: 0 auto;
}*/

.slider_txt1 .txt1Btn1{
	width:150px; line-height:100px; color: white;
	font-weight:bold; font-size: 14px;
	text-decoration:underline;
	padding-right: 15px;
}
.slider_txt1 .txt1Btn2{
	width:150px;line-height:100px;
	text-align: center; padding: 0 15px;
	border: 10px solid #fff; background: #fff;
	border-radius:20px; color: #25262a;
	font-size: 14px;font-weight:bold;
}
/*.slider_txt1 a:hover{background: #000; color: #fff;}*/

.sliderWrap .slider_2st .slider_txt2{
	position: absolute; color: black;
	top: 25%; left: 120px; letter-spacing: -2px;
	letter-spacing: -2px;
}
.slider_txt2 h3{font-size:48px; padding: 16px 0; letter-spacing: -5px;}
.slider_txt2 .txt1Btn3{
	width:150px;line-height:100px; top: 15px;
	text-align: center; padding: 0 15px;
	border: 10px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 14px;font-weight:bold;
}


.sliderWrap li{height: 1005px;_background: skyblue;}
.sliderWrap .slider_1st{
	background-image: url(../images/mainimg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_2st{
	background-image: url(../images/mainimg02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom: 100px;
}


/*content*/
.content{width: 1260px; margin: 0 auto;}
.content>ul>li{
	float: left; width: 25%;height: 315px;  
	position: relative; overflow: hidden;
}
.content>ul>li a{color:white;}
/*.content>ul>li:nth-child(2n){background: red;}*/

/*content layout*/
.half{width: 50% !important;}
.content>ul>li.ct1st{background: #92c1d5;}
.content>ul>li.ct2st{}
.content>ul>li.ct3st{width: 50%;}
.content>ul>li.ct6st{width: 50%;}
.content>ul>li.ct7st{height: 630px;}
.content>ul>li.ct8st{width: 50%;}
.content>ul>li.ct11st{width: 50%;}


.content>ul>li.ct4st{background: #b8307c;}
.content>ul>li.ct5st{background: #413d3e;}
.content>ul>li.ct9st{background: #b8307c;}
.content>ul>li.ct10st{background: #413d3e;}

/*content icon cell*/
.content li.ct1st p{color: white;}


.content li.ct1st a,
.content li.ct4st a,
.content li.ct5st a,
.content li.ct9st a,
.content li.ct10st a
{text-align: center; display: block; height: 100%; padding-top:85px ;}

.content li.ct1st img,
.content li.ct4st img,
.content li.ct5st img,
.content li.ct9st img,
.content li.ct10st img
{display: block; width: 100px; margin: 0 auto; margin-bottom: 5px;}

/*ct6st, ct7st, ct8st, ct11st txt*/
.content div.txt{position: absolute; top: 40px; left: 20px; }
.content div.txt h3:after{
	content: ""; display: block; 
	width: 50px; height: 2px; 
	background-color: #fff; margin: 20px 0;
}
.content div.txt p{font-size:2em;}

/*modal layer*/
.content .ct2st .bgImg{transition: 0.3s;} /*li X img O : 이미지 값 변동*/
.content .ct2st:hover .bgImg{transform: scale(1.2);}
.content .ct2st .play{
	position: absolute; left: 50%; top: 50%; 
	transform: translate(-50%,-50%);
}

/*news bxslider*/
.content .ct3st{}
.content .ct3st h2{position: absolute; top: 40px;left: 40px;} /*txt와 동일*/
.content .sliderWrap{width: 630px; height: 315px;}
.content .sliderWrap li.news{width: 630px; height: 315px;}
.content .sliderWrap .left{float: left; width: 315px;height: 315px; padding: 80px 40px; position: relative;}
.content .sliderWrap .left:after{
	content: "";display: block;
	border-width:30px;
	border-style: solid;
	border-color:white transparent transparent transparent; /*아래방향삼각형만들기*/
	border-color:transparent transparent transparent white; /*오른쪽방향삼각형만들기*/
	position: absolute;
	top: 50%; transform: translateY(-50%);
	right: -59px;
}
.content .sliderWrap .right{float: right; width: 315px;height: 315px;}

.content .ct3st .btn{position: absolute; bottom: 20px; left: 213px; width: 76px;}
.content .ct3st .btn img{width: 38px; height: 38px;float: left;} /*화살표붙임*/







