@charset "utf-8";


header#main_header{height: 2500px;position: relative; _background: pink; margin-bottom:100px;}


/*header top*/
#header_top{
	width: 100%; position: fixed; color: white; height: 80px;
	left: 50%; transform: translateX(-50%);
	z-index: 99999;
}
#header_top>h1{float: left; height: 80px;}
#header_top>h1>a{float: left; padding: 15px 120px; }
#header_top>h1>a>img{width: 140px;}

#main_menu{float: right; padding-right: 110px; }
#main_menu li{float: left; height: 80px; }
#main_menu li a{
	display: block; line-height: 80px;
	padding:0 30px; font-weight:bold; font-size:14px;
}
.toggleMenu{display: none;}


/*slider*/
.sliderWrap{height: 690px; _position: relative;}
/*.sliderWrap li img{width: 100%;}*/
.sliderWrap .slider_txt{
	position: absolute;width: 500px;
	left: 50%; margin-left: -250px; top: 30%;
	text-align: center; color: white; _background: blue;
}
.sliderWrap .slider_1st .slider_txt1{
	position: absolute; color: white;
	top: 25%; left: 120px;letter-spacing: -2px;
}
.slider_txt1 h3{font-size:48px; padding: 16px 0;}
/*.sliderWrap .slider_txt h3:after{
	content:""; display: block; width: 300px;height: 2px;
	background: #fff; margin: 0 auto;
}*/

.slider_txt1 .txt1Btn1{
	width:150px; line-height:100px; color: white;
	font-weight:bold; font-size: 14px;
	text-decoration:underline;
	padding-right: 15px;
}
.slider_txt1 .txt1Btn2{
	width:150px;line-height:100px;
	text-align: center; padding: 10px 20px;
	border: 1px solid #fff; background: #fff;
	border-radius:20px; color: #25262a;
	font-size: 14px;font-weight:bold;
}
.slider_txt1 .txt1Btn2:hover{background-color:#000; border: 1px solid #000; color: #fff;}
.slider_txt2 .txt1Btn3:hover{background-color:#fff; border: 3px solid #000; color: #000;}
.sliderWrap .slider_4st .video_1{display: none;}

.sliderWrap .slider_2st .slider_txt2{
	position: absolute; color: black;
	top: 25%; left: 120px; letter-spacing: -2px;
	letter-spacing: -2px;
}
.slider_txt2 h3{font-size:48px; padding: 16px 0; letter-spacing: -5px;}
.slider_txt2 .txt1Btn3{
	width:150px;line-height:100px; top: 15px;
	text-align: center; padding: 10px 20px;
	border: 1px solid #000; background: #000;
	border-radius:20px; color: #fff;
	font-size: 14px;font-weight:bold;
}


.sliderWrap li{height: 1005px;_background: skyblue;}
.sliderWrap .slider_1st{
	background-image: url(../images/mainimg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sliderWrap .slider_2st{
	background-image: url(../images/mainimg02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom: 100px;
}


/*content*/
.content{width: 100%;}
.content>ul>li{
	float: left;width: 50px;position: relative;
	overflow: hidden;transition:0.3s;
	height: 315px;
}
.content>ul>li a.vContent>ul>li a{color:white;}

/*content layout*/
.half{width: 50% !important;}
.content>ul>li.ct1st{background: #161515;width: 50%;}
.content>ul>li.ct2st{width: 50%;}
.content>ul>li.ct3st{display: none;}
.content>ul>li.ct6st{display: none;}
.content>ul>li.ct7st{display: none;}
.content>ul>li.ct8st{display: none;}
.content>ul>li.ct11st{display: none;}

.content>ul>li.ct4st{background: #d7d6dc;width: 50%;}
.content>ul>li.ct5st{background: #413d3e;width: 50%;}
.content>ul>li.ct9st{display: none;}
.content>ul>li.ct10st{display: none;}

/*content icon cell*/
.content li.ct1st p,
.content li.ct5st p{color: white;}
.content li.ct1st a,
.content li.ct5st a{
	text-align: center; display: block;
	height: 100%; padding-top:100px;
	font-weight:bold; line-height:40px;
}

.content li.ct1st img,
.content li.ct5st img{display: block; width: 100px; margin: 0 auto; margin-bottom: 5px;}

.content .ct1st img,
.content .ct5st img{transition: 0.3s; width: 100px;}

.content .ct1st:hover img,
.content .ct5st:hover img{transform: rotate(-45deg);}

/*modal layer*/
.content .ct2st .bgImg{transition: 0.3s;} /*li X img O : 이미지 값 변동*/
.content .ct2st:hover .bgImg{transform: scale(1.2);}
.content .ct2st .play{
	position: absolute; left: 50%; top: 50%;
	transform: translate(-50%,-50%); width: 80px;
}

/*news bxslider*/
.content .ct4st{}
.content .ct4st h2,.content .ct4st p,.content .ct4st div{position: absolute; text-align:center;width: 300px;color:white;}
.content .ct4st h2{top: 110px;left: 50%;transform:translateX(-50%);font-weight:bold;}
.content .ct4st p{top: 85px;left: 50%;transform:translateX(-50%);font-weight:bold;font-size:12px;}
.content .ct4st div{left: 50%;top: 50%; transform:translate(-50%,-50%);letter-spacing:-1px;font-size:11.5px;}
.content .ct4st .ct4stBtn{
	left: 50%;transform:translateX(-50%); top: 200px;
	position: absolute; text-align: center;
	padding: 10px 20px;
	border: 1px solid #000; background: #fff;
	border-radius:40px; color: #000;
	font-size: 12px;font-weight:bold;
}
.nBtn{
	position: absolute; top: 50%; right: 10px; cursor: pointer;
	transform:translateY(-50%); width: 20px;
}
.pBtn{
	position: absolute; top: 50%; left: 10px; cursor: pointer;
	transform:translateY(-50%); width: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #fff;text-indent: -9999px;
    display: block;width: 30px;height: 3px;
    margin: 0 5px;outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
}
.bx-wrapper .bx-pager{margin-bottom: -60px;}


/*container*/
.container{
	height: 750px; color: white;
	background:url(../images/contentsbg01.jpg) no-repeat center fixed;
	background-size:cover; padding-top: 70px;
}
.container .section{width: 1260px; margin: 0 auto;}
.container h4{text-align: center;}
.container h4:after{
	content:""; display: block;
	background-color: #fff;
	width: 50px; height: 3px;
	margin: 20px auto;
}
.container .section>p{text-align: center; font-size: 2em; margin-bottom: 40px;}
.container .section ul li{
	float: left; margin-right: 20px; width: 300px; height: 380px; padding-top: 70px; transition: 0.3s;
}
.container .section ul li:last-child{margin-right: 0;}

.container .section ul li:hover{box-shadow: 8px 8px 10px rgba(0,0,0,0.5);transform: translate(-10px,-10px);}
.container .section li img{display: block;margin: 0 auto;}
.container .section li .card_body{text-align: center; padding: 20px 40px;}
.container .section li .card_body h3{margin-bottom: 10px;} /*Engineering*/

/* content */
.vContent>ul>li.vC1st{width: 50%;height: 630px;}
.vContent>ul>li.vC2st{width: 50%;height: 630px;}
.vContent>ul>li.vC3st{height: 630px;display: none;}
.vContent>ul>li.vC4st{height: 630px;display: none;}

.vContent{width: 100%;position: absolute; left: 50%; transform: translateX(-50%); top: 2250px;}
.vContent>ul>li{
	float: left; width: 50%;
	position: relative; overflow: hidden;
}

.vContent>ul>li.vC2st .bottom{position: absolute;bottom: 0;}

.vContent h3{position: absolute; top: 40px;left: 105px;}

.vContent .sliderWrap{width: 100%; height: 630px;}
.vContent .sliderWrap li.news{width: 100%; height: 630px;}
.vContent .sliderWrap .top{
	float: left; width: 100%;height: 315px;
	position: relative;
}
.vContent .sliderWrap .bottom{width: 100%;height: 315px;}

/* footer */
.ftBar{
  border: 0.6px solid #e7e3e3;;width: 100%;
  margin:35px 0; background: #e7e3e3; margin-top: 800px;
}
.ftAfter{text-align:center;}
.ftAfter p>a{color:#3668b8;}
.subLine:after{
	content: ""; display: block;
	border-top: 1px solid #dbdbdb; margin: 35px 0 15px 0;
	width: 100%;height: 1px;
}

/* vC$st*/
.vC1st,.vC2st{position: relative;}
.vC1st h3,.vC1st p,
.vC2st h3,.vC2st p{
  position: absolute; text-align:left;
}
.vC1st .news .bottom h3:before{
  content:""; display: block; width: 30px; height: 3px;
  background: #274b85; margin: 15px 0;
}
.vC1st .news .bottom h3{
  top: 330px;color:#274b85;letter-spacing: -1.5px;font-size:18px;left: 0; padding-left: 20px;
}
.vC1st .news .bottom p{
  text-align:left; padding:20px 0 0 20px;line-height:20px;
  color:#8d8d8d; font-size:14px; font-weight:bold;
  letter-spacing: -0.5px; padding-top: 400px;
}

.vC2st .news .top h3:before{
  content:""; display: block; width: 30px; height: 3px;
  background: #274b85; margin: 15px 0;
}
.vC2st .news .top h3{
  top: 20px;color:#274b85;letter-spacing: -1.5px;
	font-size:18px;left: 0; padding-left: 20px;
}
.vC2st .news .top p{
  text-align:left; padding: 100px 20px;line-height:20px;
  color:#8d8d8d; font-size:14px; font-weight:bold;
  letter-spacing: -0.5px;
}

/* footer */
.footer{width: 1260px;height: 160px; margin: 0 auto; _background: #000;}
.footerTxt li{float: left; position: relative; font-size:12px; letter-spacing:-1px;color:#777777;}
.footerTxt li:after{
		content: ""; display: block;
		width: 1px; height: 12px;
		background-color: #d4d4d4;
		position: absolute;
		right: 0; top: 8px;
}
.footerTxt li:last-child:after{content: ""; display: none;}
.footerTxt li{padding: 0 10px 0 10px; line-height: 25px;}
.footerTxt li:nth-child(1){padding: 0 10px 0 0}
.footerTxt a{
	width: 50px; border: 1px solid #a6a6a6; color:white;
	background: #a6a6a6; border-radius:30px ;
	padding: 5px 10px 5px 10px ; margin-left: 10px;
}
.footer_1 span{display: none;}
.footer p{
	font-size:12px; letter-spacing:-1px;
	color:#777777; padding: 0 10px 0 0; line-height: 25px;
}
.footer .copy{font-size:11px; font-weight:bold; letter-spacing:0px;color:#777777;}

.line:after{
	content: ""; display: block;
	border-top: 1px solid #dbdbdb; margin: 100px 0 15px 0;
	width: 100%;height: 1px;
}
.line_2:before{
	content: ""; display: block;
	border-top: 1px solid #dbdbdb; margin: 30px 0;
	width: 100%;height: 1px;
}

.footer_2{position: relative;}
.footer2Txt li{
	float: left; position: relative;
	font-size:13px; letter-spacing:-2px;
	color:#777777; font-weight:bold;
}
.footer2Txt li:after{
		content: ""; display: block;
		width: 1px; height: 12px;
		background-color: #d4d4d4;
		position: absolute;
		top: 10px; right: 0;
}

.footer2Txt li:last-child:after,
.footer2Txt li:nth-child(4):after,
.footer2Txt li:nth-child(5):after{content: ""; display: none;}
.footer2Txt li{padding: 0 10px; line-height: 25px;}
.footer2Txt li:nth-child(1){padding: 0 10px 0 0}

.sns {position: absolute;right: 0;top:0;
}
ul.sns li{float:left}
.sns img{width: 35px; margin: 0 8px 10px 8px;}
.sns img:nth-child(1){margin-left: 0;}
