@charset "utf-8";
.nav{width: 1000px;margin: 0 auto;}
.menu li{float: left; width: 20%; position: relative;}
.menu li:hover:before,
.menu li.active:before{
  content: ""; width: 8px; height: 8px;
  background: pink; position: absolute;
  left: 50%; transform:translate(-50%);
  border-radius:50%;
}

.menu li a{display: block; line-height:40px;text-align:center;}


.bar{
  width: 200px;height: 5px; background: red; position: relative;
}
