html,body{font-family: 'NEXONONE'; height: 100%;}
#header_top{height: 1950px;position: relative;margin-bottom:100px;}
#navTop{
	width: 100%; height: 80px;
	position: fixed; color: white;
	top: 0;z-index: 999999; background: #fff;
}

#navTop>h1{float: left; height: 50px; margin-top: 10px;line-height:50px;}
#navTop img{padding-left: 10px; padding-top: 6px;}



nav#navTop>#topMenu>li,
nav#navTop>#topMenu_2>li{font-family: 'Beue'; font-size:18px;letter-spacing: -2.2px;}
nav#navTop>#topMenu_2>li a{color: #2c2c2c;}
nav#navTop{
  position: fixed; background: #fff;
  width: 100%;z-index:1;padding-left: 10px;
}
nav#navTop #topMenu li{float: left;position: relative;}
nav#navTop #topMenu_2{position: absolute; right: 0; top: 0;}
nav#navTop #topMenu_2 li{float: left;}

nav#navTop #topMenu .hd_logo{width: 110px; position: absolute; z-index: 2;}
nav#navTop #topMenu .ctg{padding-left:110px ;}

nav#navTop #topMenu li:nth-child(2) a,
nav#navTop #topMenu li:nth-child(3) a,
nav#navTop #topMenu li:nth-child(4) a,
nav#navTop #topMenu li:nth-child(5) a,
nav#navTop #topMenu_2 li{
  display: block; line-height:40px;
  text-align:center; padding: 27px 25px;
}
nav#navTop #topMenu li.active a{color:#fef200;}

/* section */
#fullpage .section{
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.section.page1{background-image: url(../images/bg1.jpg);color:#fff; z-index:5;}
.section.page2{background-image: url(../images/bg2.jpg);}
.section.page3{background-color: #fff;z-index:6;}
.section.page4{background-image: url(../images/bg4.jpg);}
.section.page5{background: #000;}

/* section.page1 animation*/
.section.page1 .bg1_ani{
  position: absolute;width: 600px;
  bottom: 0; left: 45%;
  animation-name :bg1_ani;
  animation-duration :2s;
  animation-fill-mode:forwards;
  animation-iteration-count:1;
  animation-timing-function:ease;
}
@keyframes bg1_ani{
  from{ left: 45%;bottom: -100%; }
  to{ left: 45%;bottom: 0; }
}

/* section.page2 animation*/
.section.page2 .bg2_ani1{position: absolute; top: 0;}
.section.page2 .bg2_ani2{position: absolute; bottom: 0; left: 28%;}
.section.page2 .bg2_ani3{position: absolute; left: 0;bottom: 0;}
.section.page2 .bg2_ani4{position: absolute; left: 170px;width: 200px;bottom: 25%;}
#onView1st{top: -700px;transition:0.5s;}
#onView1st.move{top:-0;}
#onView2st{bottom: -100%;transition:0.5s;opacity: 0;}
#onView2st.move{bottom: 0;left: 28%;opacity: 1;}
#onView3st{left:-100%;transition:0.5s;}
#onView3st.move{left: 0;bottom: 0;}
#onView4st{left:-100%;transition:0.5s}
#onView4st.move{left: 170px; bottom: 25%;}
#onView5st{right: -100%;transition:0.5s}
#onView5st.move{right: 0;}
#onView6st{right: -100%;transition:0.5s}
#onView6st.move{right: 22%;}
#onView7st{opacity: 0;transition:1.7s}
#onView7st.move{opacity: 1;}



.main{
  width: 550px; position: absolute;
  top: 50%;transform:translateY(-50%)
}
/* .section.page1  */
.section.page1 .main.one{
  width: 550px; position: absolute;
  top: 33%;transform:translateY(-50%)
}
.section.page1 .main,.section.page1 .vWrap{left: 10%;}
.section.page1 .main.one h3{
  font-family:"Beue"; letter-spacing: -2px;
  font-size: 46px;text-align:center;
}
.section.page1 .main.one p{
  letter-spacing: -1.7px; padding-top: 20px;
  font-size:16px; text-align:center; line-height: 25px;
}
.section.page1 .vWrap a{
  position: absolute;font-size:12px;
  display: block; text-align:center;
  width: 130px; border: 0.2px solid #fff;
  line-height:40px; letter-spacing: -1px;
  color:white; transition:0.3s;margin-top: 20px;
  left: 50%; transform: translateX(-50%);
}
.section.page1 .vWrap a:hover{background-color: #fff; color:#000;font-weight: bold}
.vWrap{
  position: absolute;padding-left: 5%;
  width: 550px; height: 400px;
}
#bg1_video{
  width: 400px; height: 250px;
  object-fit:cover;
}
/* .section.page2  */
.section.page2 .main.two{right: 35%;}
.section.page2 .main.two p{
  color:#fff;letter-spacing: -2px;
  font-size:19px;font-weight:100;
}
.section.page2 .main.two h6{
  color:block;letter-spacing: -2px;font-size:21px;
  padding-top: 15px;font-weight:500;
}
.section.page2 .bg2_1{
  position: absolute;right: 0;width: 450px;
  top: 50%;transform:translateY(-50%)
}
.section.page2 .bg2_2{
  position: absolute;height: 450px;
  top: 55%;transform:translateY(-50%)
}

/* .section.page3  */
.section.page3 .bg3{position: relative;width: 100%;margin: 0 auto;}
.section.page3 .bg3_1,.bg3_2{width: 530px;position: absolute;}
.section.page3 .bg3_1{left: 3%;top:-370px;}
.section.page3 .bg3_2{right: 3%;top: -50px;}
.section.page3 .main{
  color:#000;position: absolute;text-align:center;
  left: 50%;top: 50%;transform:translate(-50%,-50%)
}
.section.page3 .menuList h4{
  font-family: 'Beue';font-size:34px;padding:15px 0;
  letter-spacing: -4px;font-weight:400;;cursor: pointer;
}
.section.page3 .menuList .f1{padding-left: 27px;}
.section.page3 .menuList .f2{padding-left: 15px;}
.section.page3 .line1{
  width: 90px;height: 4.5px;background: #fff200;margin: 0 auto;
}
.section.page3 .menuList li{margin: 0 auto;}
.section.page3 .menuList li a{
  font-family: 'Beue';font-size:20px;letter-spacing: -2px;
  color:#7a7a7a;font-weight:400;position: relative;line-height: 45px;
}
.section.page3 .menuList li a:hover{
	color: #000;
}
.section.page3 .menuList li a:after{
  content: "";position: absolute;
  width: 0%;height: 13px;background: #fff200;
  left: -8px;bottom: 0;z-index: -1;padding: 0 8px;
	transition: all 0.35s;
	-webkit-transition: all 0.35s;
	-ms-transition: all 0.35s;
	opacity: 0;
}
.section.page3 .menuList li a:hover:after{width: 100%;opacity: 1;}

/* .section.page4 */
.section.page4{position: absolute;width: 100%; height: 100%;}
#bg4_video {
    position: absolute;bottom: 0;top: 0;right: 0;
    width: 100%;height: 100%;background-size: 100% 100%;
    background-color: black;background-position: center center;
    object-fit: cover;
}
.section.page4 .color{
  position: absolute;background: #000;opacity: 0.1;
  width: 100%;height: 100%;
  top: 50%;transform: translateY(-50%);cursor: pointer;
}
.section.page4 img{
  position: absolute;width: 300px;
  top: 50%;transform: translateY(-50%);cursor: pointer;
}
.section.page4 ul li{transition: 0.3s;}
.section.page4 ul li:hover{
  box-shadow: 8px 8px 10px rgba(0,0,0,1);transform: translate(-10px,-10px);
}
.section.page4 .bg4_1{left: 15%;}
.section.page4 .bg4_2{left: 40%}
.section.page4 .bg4_3{right: 15%;}

/* .section.page5 */
.section.page5{text-align:center;color:#fff;}
.section.page5 ul{width: 1015px;height:163px;margin: 0 auto}
.section.page5 .slide ul li{float: left;width: 163px;margin-right:50px;}
.section.page5 .slide{font-size:13px; font-weight: bold}
.section.page5 .slide ul li:last-child{margin-right:0;}
.section.page5 .bg5_6{width: 1015px;height:163px;margin: 0 auto}
.section.page5 .bg5_6 p{
  position: absolute;width: 1015px;
  height:163px;margin: 0 auto; top: 26%;
  font-size:38px;font-weight: 100;letter-spacing: -4px;
}

.fp-controlArrow.fp-prev{
    left: 15px;
    width: 0;
    border-width: 24.5px 20px 24.5px 0;
    border-color: transparent #fff transparent transparent;
    opacity: 0.3;
  }
  .fp-controlArrow.fp-next {
    right: 15px;opacity: 0.3;
    border-width: 24.5px 0 24.5px 20px;
    border-color: transparent transparent transparent #fff;
}









.scroll{
  position: absolute; bottom: 20px; left: 50%;
  transform:translateX(-50%);
  animation-name:xScroll;
  animation-duration:0.8s;
  animation-iteration-count:infinite;
  animation-direction:alternate; z-index: 3;
}
@keyframes xScroll{
  from{bottom: 20px;}
  to{bottom: 40px;}
}
