@charset "utf-8";
/*reset*/
*{margin: 0;padding: 0; box-sizing: border-box;}
a:link,a:visited{color: #000; text-decoration : none; }
li{list-style:none;}
.clearfix:after{content:""; display: block; clear: both; } /*부모자에 사용*/
table{border-collapse: collapse;} /*테이블 안에서 상자의 테두리 선 겹쳐지게 */
